{
  "semi": false,
  "singleAttributePerLine": false,
  "bracketSameLine": false,
  "bracketSpacing": true,
  "printWidth": 90,
  "arrowParens": "always",
  "singleQuote": false,
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5"
}
